nav{
    min-width: 130px;
    max-width: 1500px;
    height: 70px;
    position: absolute;
    bottom: 10px;
    background: var(--backgroundGlass);
    border:1px solid var(--backgroundGlassOutline);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
display: flex;
justify-content: center;
align-items: center;
animation: navigationFloatIn 0.4s ease-out;
z-index: 1;
}
nav button{
    width: 50px;
    height: 50px;
    background-color: var(--backgroundGlass);
    border:none;
    border-radius: 10px;
    fill:white;
    margin:5px;
    outline: none;
    transition: 0.3s all;
    overflow: hidden;
}
nav button:hover{
    opacity: 0.6;
}
nav button:active{
    transform: translateY(2px);
}
@keyframes navigationFloatIn {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
nav .taskinstanceIcon{
    width: 35px;
    height: 35px;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}
.instanceBtn{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
nav .taskIndicator{
    height: 4px;
    border-radius: 3px;
    transition: 0.3s all cubic-bezier(0.11, 1.04, 0.51, 1.46);
}
nav .taskIndicatorOpen{
    background-color: var(--textColor1);
    width: 25px;
}
nav .taskIndicatorBG{
    background-color: var(--textColor2);
    width: 7px;
}
nav .taskIndicatorFocus{
    width: 30px;
    height: 4px;
    background-color: var(--firstColor);
}
.navCtxMenu{
    min-width: 100px;
    max-width: 500px;
    min-height: 40px;
    max-height: 900px;
    background-color: var(--backgroundWindow);
    position: absolute;
bottom: 80px;
border-radius: 10px;
animation: navCtxMenIn 0.3s ease-out;
overflow: hidden;
border: 1px solid var(--backgroundGlassOutline);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding:10px;
z-index: 1;
}
@keyframes navCtxMenIn {
    0%{
        opacity: 0;
        transform: translateY(50px);
        max-height: 40px;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        max-height: 900px;
    }
}