body{
    --backgroundGlass: rgba(81, 81, 81, 0.568);
    --backgroundGlassLight: rgba(81, 81, 81, 0.24);
    --backgroundGlassOutline:rgb(65, 65, 65);
    --firstColor:rgb(129,200,246);
    margin:0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}